html,
body {
  padding: 0;
  margin: 0;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}



.container {
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  justify-content: center;
  align-content: center;
}


.container > div {
  width: 320px;
  text-align: center;
  margin: 1rem;
  border: 2px solid white;
}